# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

Ordered List

1.Pyhton
2.R
3.Java

Some of the commonly used libraries used by Data Scientists include:

Ordered List

1.Pandas
2.Seaborn
3.Plotly

### Data Science Tools
| Data Science Tools | 
|:--------:|
|  Jupyter Notebook | 
|  Rstudio  |  
|  VS Code  |

### H3 Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

Error: Please load a database to perform operations

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

Error: Please load a database to perform operations

 **Objectives:**
unordered list:
Popular languages for Data Science 
 * Python 
 * R  
 * SQL  
 * MATLAB 
 * Julia

## H2 Duru